<%= content_for :title, @image %>

<h1 class="text-center my-3"><%= link_to @space, show_space_path(@space.slug) %></h1>

<div class="text-center">
  <%= image_tag @image.generated %>
  <p><%= @image.prompt %></p>
  <%= link_to like_image_path(@space.slug, @image.id) do %>
    <%= @image.likes_count %> likes
  <% end %>
  <p class="small">User <%= @image.user %></p>
</div>