<%= content_for :title, @space %>

<p><%= link_to @space.url, @space.url, target: :_blank %></p>

<p>Prompt additionnel : <%= @space.additional_prompt %></p>

<p>Prompt (aléatoire) : <%= @space.prompt %></p>


<h2 class="h4 mt-5">Questions</h2>
<%= render 'admin/questions/list', questions: @questions %>

<h2 class="h4 mt-5">Images</h2>
<div class="mb-4">
  <%= line_chart Image.group_by_day(:created_at, last: 30).count %>
</div>
<%= render 'admin/images/list', images: @images %>

<h2 class="h4 mt-5">Utilisateurs</h2>
<%= render 'admin/users/list', users: @users %>

<% content_for :action_bar_right do %>
  <%= link_to "Modifier",
              edit_admin_space_path(@space), 
              class: button_classes %>
  <%= link_to "SASS",
              sass_admin_space_path(@space), 
              class: button_classes %>
  <%= link_to "Supprimer",
              [:admin, @space],
              method: :delete,
              class: button_classes_danger,
              data: { confirm: 'Confirmer ?' } %>
<% end %>