<%= content_for :title, current_space %>

<div class="text-center mb-5">
  <%= @home.html_safe %>
  <p><%= @home_cta_text %></p>
  <%= link_to @home_cta_button, new_image_path, class: 'btn btn-primary' %>
</div>

<%= render 'images/list', images: @images %>