<%= content_for :title, current_space %>

<section class="hero">
  <div class="container py-5">
    <%= @home.html_safe %>
  </div>
</section>

<section class="content">
  <div class="container py-5">
    <p><%= @home_cta_text %></p>
    <%= link_to @home_cta_button, new_image_path, class: 'btn btn-primary mt-3' %>
  </div>
</section>

<section class="list">
  <%= render 'images/list', images: @images %>
</section>