<%= content_for :title, @image %>

<p>Espace : <%= link_to @image.space, [:admin, @image.space] %></p>

<% if @image.user.present? %>
  <p>Utilisateur : <%= link_to @image.user, [:admin, @image.user] %></p>
<% end %>

<p>Prompt complet : <%= @image %></p>

<p>Prompt brut  : <%= @image.prompt_raw %></p>

<% content_for :action_bar_right do %>
  <%= link_to 'Voir dans le site', image_url(@image, host: @image.space.domain), target: :_blank, class: 'btn btn-primary' %>
<% end %>

<div class="row mt-5">
  <div class="col-md-6 col-xl-4">
    <%= image_tag @image.generated, class: 'img-fluid img-thumbnail' %>
  </div>
  <div class="col-md-6 col-xl-8">
    <% @image.answers.each do |answer| %>
      <p>
        <%= answer.question %>
        <b><%= answer %></b>
      </p>
    <% end %>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-6">
    <h2 class="h4 mb-4">Aimé par <%= @image.likes_count %> utilisateurs</h2>
    <table class="table">
      <thead>
        <tr>
          <td>ID</td>
          <td>Date</td>
        </tr>
      </thead>
      <tbody>
        <% @image.likes.each do |like| %>
          <tr>
            <td>
              <% if like.user %>
                <%= link_to like.user, [:admin, like.user] %>
              <% else %>
                Utilisateur sans cookie
              <% end %>
            </td>
            <td><%= t like.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h2 class="h4 mb-4">Signalé par <%= @image.blames_count %> utilisateurs</h2>
    <% if @image.blacklisted? %>
      <p class="badge text-bg-danger">Image bannie</p>
    <% elsif @image.whitelisted? %>
      <p class="badge text-bg-info">Image validée</p>
    <% elsif @image.too_many_blames? %>
      <p class="badge text-bg-warning">Image signalée</p><br>
    <% end %>
    <%= link_to 'Valider définitivement', 
                whitelist_admin_space_image_path(space_id: @image.space.id, id: @image.id),
                class: 'btn btn-info' %>
    <%= link_to 'Bannir définitivement', 
                blacklist_admin_space_image_path(space_id: @image.space.id, id: @image.id),
                class: 'btn btn-danger' %>
    <table class="table">
      <thead>
        <tr>
          <td>ID</td>
          <td>Date</td>
        </tr>
      </thead>
      <tbody>
        <% @image.blames.each do |blame| %>
          <tr>
            <td>
              <% if blame.user %>
                <%= link_to blame.user, [:admin, blame.user] %>
              <% else %>
                Utilisateur sans cookie
              <% end %>
            </td>
            <td><%= t blame.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>