<p><%= users.total_count %> utilisateurs</p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Pseudo</th>
        <th>Espace</th>
        <th>Images</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= link_to user, [:admin, user] %></td>
          <td><%= user.pseudo %></td>
          <td><%= user.space %></td>
          <td><%= user.images.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate users, theme: 'bootstrap-5', param_name: :users_page %>
