  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= yield :title %></title>

    <meta property="og:title" content="<%= yield :title %>" />
    <meta name="twitter:title" content="<%= yield :title %>" />

    <meta name="twitter:card" content="summary_large_image" />
  
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:site_name" content="<%= current_space.to_s || 'Imaginarium' %>" />
    <meta property="og:type" content="website" />

    <% if @image %>
      <meta property="og:image" content="<%= @image.shareable.variant(resize_to_fill: [1200, 630, gravity: 'north']).processed.url %>" />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
      <meta name="twitter:image" content="<%= @image.shareable.url %>" />
      <meta name="twitter:image:src" content="<%= @image.shareable.url %>" />
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <% if current_space %>
      <link rel="stylesheet" type="text/css" href="/assets/style.css" media="all">
    <% end %>
    <%= stylesheet_link_tag 'dev' if Rails.env.development? %>
  </head>

