<nav class="navbar navbar-expand-md bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= current_space %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><%= link_to 'accueil', root_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'créer', new_image_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'voir les images', images_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'à propos', about_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </div>
</nav>