<%= content_for :title, 'Imaginarium' %>

<%= image_tag 'logo.svg', class: 'logo' %>

<div class="row g-0">
  <% @images.each do |image| %>
    <div class="col-md-2">
      <%= link_to image do %>
        <%= image_tag image.generated, class: 'img-fluid' %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="text-center my-3">
  <h2>Visitez les espaces</h2>
  <% Space.all.each do |space| %>
    <%= link_to space, show_space_path(space.slug) %>
  <% end %>
</div>