<%= content_for :title, @image %>

<div class="row mb-4">
  <div class="offset-md-4 col-md-4">
    <%= simple_form_for @image do |f| %>
      <% @questions.each do |question| %>
        <div>
          <%= question %><br>
          <input type="text" name="question[<%= question.id %>]">
        </div>
      <% end %>
      <%= f.submit class: 'btn btn-primary mt-2' %>
    <% end %>
  </div>
</div>

<%= render 'images/list', images: @images %>