<%= content_for :title, @image %>

<section class="hero">
  <div class="container py-5">
    <%= @current_space.home.to_s.html_safe %>
  </div>
</section>

<section class="content">
  <div class="container py-5">
    <%= simple_form_for @image, :html=> { class: 'form' } do |f| %>
      <% @questions.each_with_index do |question, index| %>
        <fieldset id="<%= question.id %>">
          <label for="<%= question.id %>-input" class="form-label">
            <%= (index + 1) %>. <%= question %>
          </label>
          <div class="d-flex">
            <input type="text" id="<%= question.id %>-input" name="question[<%= question.id %>]" class="form-control me-3">
            <% if index < (@questions.count - 1) %>
              <a href="<%= @questions[index + 1].id %>" class="btn btn-primary btn-sm js-next"><%= t('simple_form.validate') %></a>
            <% else %>
              <%= f.submit class: 'btn btn-primary btn-sm' %>
            <% end %>
          </div>
        </fieldset>
      <% end %>

      <ol class="progression mt-3">
        <% @questions.each_with_index do |question, index| %>
          <li><%= (index + 1) %></li>
        <% end %>
      </ol>
    <% end %>
  </div>
</section>

<%= render 'images/list', images: @images %>