<%= content_for :title, @image.to_s %>

<section class="hero">
  <div class="container">
    <div class="py-5 text-center">
      <%= render 'images/show/image' %>
      <%= render 'images/show/pseudo' %>
      <%= render 'images/show/email' %>
      <%= render 'images/show/cta' %>
      <%= render 'images/show/share' %>
      <%= render 'images/show/blame' %>
    </div>
  </div>
</section>
