<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
  <%= render 'head' %>
  <body class="<%= body_classes %>">
    <%= render 'nav' if current_space %>
    <main>
      <%= yield %>
    </main>
    <%= render 'footer' if current_space %>
    <%= render 'gdpr/cookie_consent' if current_space %>
    <%= javascript_include_tag 'application', defer: true %>
  </body>
</html>
