<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Un projet conçu et développé par Les Éditions Volumique et la coopérative noesya, utilisant le moteur de génération d'images Stability.ai.">
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body class="<%= body_classes %>">
    <%= yield %>
    <%= javascript_include_tag 'application', defer: true %>
  </body>
</html>
