<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
  <%= render 'head' %>
  <body class="<%= body_classes %>">
    <%= render 'nav' if current_space %>
    <%= render 'back' if embedded? %>
    <main>
      <%= yield %>
    </main>
    <% if current_space %>
      <%= render 'footer' %>
      <%= render 'gdpr/cookie_consent'%>
      <%= current_space.script.to_s.html_safe %>
    <% end %>
    <%= javascript_include_tag 'application', defer: true %>
  </body>
</html>
